.header {
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    &__logo {
        text-transform: uppercase;
        margin-left: 30px;
        font-size: 27px;
        font-family: 'Segoe UI';
        font-weight: 700;
        color:$main;
    }
    &__nav {
        margin-right:30px;
        .header__list {
            display:flex;
            li {
                margin:0 15px;
                font-size: 15px;
                padding:6px 15px; 
                text-decoration: none;
                list-style-type: none;
                font-family: 'Segoe UI';
                font-size: 17px;
                color:$main;
                &:first-child {
                    color:$red;
                    text-align:center;
                    position:relative;
                    &::before {
                        content:'';
                        display:block;
                        width:auto;
                        height:auto;
                        background-color: $main;
                        border-radius: 50px;
                        position:absolute;
                        z-index:-1;          
                        left:0;
                        right:0;
                        top:0;
                        bottom:0;
                    }
                }
            }
        }
    }
    &__toggle {
        display:none;
        z-index:999;
        cursor: pointer;
        .fa-bars {
            color:$main;
            font-size:24px;
            margin-right:20px;
        }
    }
}