@media (max-width:768px) {
    .header {
        margin-top:15px;
        &__nav {
            position: absolute;
            width:100%;
            height:auto;
            top:0;
            display:none;
            margin-top:50px;
            background-color:$main;
            animation-name:list;
            animation-duration:.4s;
            .header__list {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                li {
                    margin:0;
                    padding:0;
                    font-size:18px;
                    color:$bl;
                    line-height: 2;
                    &:first-child {
                        text-align:left;
                        position:static;
                        &::before {
                            background:none;
                            position: static;
                        }
                    }
                }
            }
        }
        &__toggle {
            display:block;
        }
    }
    .list-active {
        display:flex;
        flex-direction: column;
    }

    .intro {
        &__container {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
            margin-top:15px;
            position: relative;
            width:100%;
            h1 {
                font-size:27px;
            }
            p {
              position: relative;
              bottom:20px;
              font-size:19px;
            }
        }
        &__phone {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           position: absolute;
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           justify-content: center;
           -webkit-box-align: end;
           -ms-flex-align: end;
           margin-top:0px;
           top:340px;
           width:100%;
        }
    }
}

@media (min-width:1400px) {
    .header {
        width:100%;
        height:auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        z-index: 100;
        &__logo {
            text-transform: uppercase;
            margin-left: 30px;
            font-size: 38px;
            font-family: 'Segoe UI';
            font-weight: 700;
            color:$main;
        }
        &__nav {
            margin-right:30px;
            margin-top: 20px;
            .header__list {
                display:flex;
                li {
                    margin:0 27px;
                    font-size: 15px;
                    padding:8px 15px; 
                    text-decoration: none;
                    list-style-type: none;
                    font-family: 'Segoe UI';
                    font-size: 17px;
                    color:$main;
                    cursor: pointer;
                    transform: scale(1.5)
                }
            }
        }
    }

    .intro {
        &__container {
            margin-left:320px;
            h1 {
                font-size:58px;
            }
            p {
                font-size:28px;
            }
        }
        &__phone {
            margin-right:300px;
            transform: scale(1.3);
        }
    }
}

